<h2>Products in a Given Category</h2>

<% @category_show.each do |x| %>
    <h4> <%= x.description %> </h4>  
    <ul>
    <li> <%= "Serial Number - #{x.serial_number}" %> </li>
    <li> <%= "Quantity - #{x.quantity}" %> </li>
    <li> <%= "Cost - $#{x.cost}" %> </li>
    <li> <%= "Location ID - #{x.location_id}" %> </li>
    <li> <%= "Category ID - #{x.category_id}" %> </li>
    </ul>
<% end %>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>