<h2>Show all records in <%= "#{params[:table_name]}" %> table</h2>

<% if params[:table_name] == "products" %>
  <% @results1.each do |x| %>
    <h3><%= x.description %></h4>
    <ul>
    <li> <%= "Serial Number - #{x.serial_number}" %> </li>
    <li> <%= "Quantity - #{x.quantity}" %> </li>
    <li> <%= "Cost - $#{x.cost}" %> </li>
    <li> <%= "Location ID - #{x.location_id}" %> </li>
    <li> <%= "Category ID - #{x.category_id}" %> </li>
    </ul>
  <% end %>

<% elsif params[:table_name] == "locations" %>
  <% @results2.each do |x| %>
    <h3><%= x.city %></h4>
  <% end %>

<% elsif params[:table_name] == "categories" %>
  <% @results3.each do |x| %>
    <h3><%= x.name %></h4>
  <% end %>
<% end %>

<p><a href="/" title="To homepage">Click here to return to the main homepage.</a></p>